{%extends "base.html"%}
{%block title%}Inicio{%endblock%}
{%block content%}
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">¿Qué es Shodan?</h2>
                <p class="text-white-50">
                    Shodan es un motor de búsqueda que permite encontrar variedad de equipos conectados a la red
                    a través de una variedad de filtros.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="{{url_for('static', filename='img/shodan.png')}}" alt="..." />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://beta.shodan.io/host/{{randomip}}/image?p=3389" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>{{randomip}}</h4>
                    {%for puerto in answer.ports%}
                    <p class="mb-0 text-gray-50"><strong>Puerto:</strong> {{puerto}}</p>
                    {%endfor%}
                    <p class="mb-0 text-gray-50"><strong> Ciudad:</strong> {{answer.city}}</p>
                    <p class="mb-0 text-gray-50"><strong>País:</strong> {{answer.country_code}}</p>
                    <p class="mb-0 text-gray-50"><strong>Organización:</strong> {{answer.org}}</p>
                    <a class="mb-0 text-gray-50" href="https://www.openstreetmap.org/#map=19/{{answer.latitude}}/{{answer.longitude}}" target="_blank" rel="noopener noreferrer">Ver en Mapa</a>
                    <a class="btn btn-primary mb1 black bg-darken-1" href="https://beta.shodan.io/host/{{randomip}}" target="_blank" rel="noopener noreferrer">Más Detalles</a>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="https://beta.shodan.io/host/{{randomcamip}}/image?p=554" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">{{randomcamip}}</h4>
                            {%for puertos in answer1.ports%}
                            <p class="mb-0 text-white-50">Puerto:{{puertos}}</p>
                            {%endfor%}
                            <p class="mb-0 text-white-50">Ciudad: {{answer1.city}}</p>
                            <p class="mb-0 text-white-50">País: {{answer1.country_code}}</p>
                            <p class="mb-0 text-white-50">Organización: {{answer1.org}}</p>
                            <a class="mb-0 text-white-50" href="https://www.openstreetmap.org/#map=19/{{answer1.latitude}}/{{answer1.longitude}}" target="_blank" rel="noopener noreferrer">Ver en Mapa</a>
                            <a class="btn btn-primary mb1 bg-black" href="https://beta.shodan.io/host/{{randomcamip}}" target="_blank" rel="noopener noreferrer">Más Detalles</a>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="https://beta.shodan.io/host/{{randomcamip2}}/image?p=554" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">{{randomcamip2}}</h4>
                            {%for puertos in answer2.ports%}
                            <p class="mb-0 text-white-50">Puerto: {{puertos}}</p>
                            {%endfor%}
                            <p class="mb-0 text-white-50">Ciudad: {{answer2.city}}</p>
                            <p class="mb-0 text-white-50">País: {{answer2.country_code}}</p>
                            <p class="mb-0 text-white-50">Organización: {{answer2.org}}</p>
                            <a class="mb-0 text-white-50" href="https://www.openstreetmap.org/#map=19/{{answer2.latitude}}/{{answer2.longitude}}" target="_blank" rel="noopener noreferrer">Ver en Mapa</a>
                            <a class="btn btn-primary mb1 bg-black" href="https://beta.shodan.io/host/{{randomcamip2}}" target="_blank" rel="noopener noreferrer">Más Detalles</a>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}